<a href="https://colab.research.google.com/github/Ana-ovidio/study_Pandas.py/blob/main/DataFrame_init.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd 
import numpy as np
from datetime import datetime

***current_date*** = Váriavel, convertida em string, que armazena a data da última atualização do programa. 

***date*** = lista de datas.

In [17]:
current_date = datetime.now().strftime('%Y%m%d')
date = pd.date_range(current_date, periods=6, freq='D')
print(date)

DatetimeIndex(['2021-12-23', '2021-12-24', '2021-12-25', '2021-12-26',
               '2021-12-27', '2021-12-28'],
              dtype='datetime64[ns]', freq='D')

Os índices representam as linhas

In [18]:
df = pd.DataFrame(np.random.randn(6,4), index = date, columns=list('ABCD'))
df

                   A         B         C         D
2021-12-23  1.143613 -0.681286 -0.647900  0.720549
2021-12-24 -0.041646  1.418021 -0.826051 -0.008318
2021-12-25  0.174098 -1.716478  0.223674  1.455719
2021-12-26 -1.124801  1.547977 -0.432805 -0.497272
2021-12-27 -1.316128 -0.216213 -1.190485 -0.882845
2021-12-28 -0.657542  0.528934  0.001686  1.228277

In [19]:
df.head(3) # Aparecer as 3 primeiras linhas 
df.tail(3) #Aparecer as 3 últimas linhas

                   A         B         C         D
2021-12-26 -1.124801  1.547977 -0.432805 -0.497272
2021-12-27 -1.316128 -0.216213 -1.190485 -0.882845
2021-12-28 -0.657542  0.528934  0.001686  1.228277

Inserir uma nova coluna em um DataFrame. 

**Observação:** As colunas devem ter a mesma conquidade de linhas que as outras.

In [20]:
df['E'] = df['A'] * df['C']
df

                   A         B         C         D         E
2021-12-23  1.143613 -0.681286 -0.647900  0.720549 -0.740946
2021-12-24 -0.041646  1.418021 -0.826051 -0.008318  0.034402
2021-12-25  0.174098 -1.716478  0.223674  1.455719  0.038941
2021-12-26 -1.124801  1.547977 -0.432805 -0.497272  0.486820
2021-12-27 -1.316128 -0.216213 -1.190485 -0.882845  1.566831
2021-12-28 -0.657542  0.528934  0.001686  1.228277 -0.001109

Concatenar DataFrames

In [21]:
df1 = pd.DataFrame({'A': ['a0', 'a1', 'a2', 'a3'],
                   'B': ['b0', 'b1', 'b2', 'b3'],
                   'C': ['c0', 'c1', 'c2', 'c3'],
                   'D': ['d0', 'd1', 'd2', 'd3']}, 
                   index =[0,1,2,3])

df2 = pd.DataFrame({'A': ['a4', 'a5', 'a6', 'a7'],
                   'B': ['b4', 'b5', 'b6', 'b7'],
                   'C': ['c4', 'c5', 'c6', 'c7'],
                   'D': ['d4', 'd5', 'd6', 'd7']},
                   index = [i for i in range(4,8)])

df1.append(df2)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7

In [24]:
set_df = pd.concat([df1, df2], keys=['FistFrame', 'SecondFrame'])
set_df

                A   B   C   D
FistFrame   0  a0  b0  c0  d0
            1  a1  b1  c1  d1
            2  a2  b2  c2  d2
            3  a3  b3  c3  d3
SecondFrame 4  a4  b4  c4  d4
            5  a5  b5  c5  d5
            6  a6  b6  c6  d6
            7  a7  b7  c7  d7

In [26]:
set_df.loc['SecondFrame']

    A   B   C   D
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7